@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 40px;
}

.required {
    color: red;
}

label {
    float: left;
    width: 180px;
    margin-left: 40px;
}

.bill span {
    float: left;
    width: 280px;
    margin-left: 110px;
}

.total-price{
    margin-top: 400px;
}

.heading {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.buttons {
    text-align: right;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

.personal,
.payment,
.address, 
.bill{
    margin-right: 20%;
    margin-left: 28%;
    margin-top: 20px;
    width: 610px;
    padding: 10px;
}

legend{
    font-size: large;
}

.button{
    padding: 10px;
    border-radius: 15px;
    width: 100px;
    margin: 10px;
}

fieldset{
    border-radius: 30px;
}

input{
    border-radius: 15px;
    width: 200px;
    margin-bottom: 10px;
}

form{
    z-index: 1;
}

div{
    z-index: 2;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 40%;
    right: 30%;
}