.heading {
    text-align: center;
    border-radius: 20px;
    background-color: blueviolet;
    height: 50px;
    margin: 10px;
}

.personal img {
    margin-left: 15%;
    border-radius: 20px;
    float: left;
    height: 400px;
}

.personalInfo {
    font-size: 30px;
    height: 350px;
    text-align: left;
    padding-top: 80px;
    margin: 35px;
}

.personalInfo span {
    margin-left: 11%;
    float: left;
}

.created h2 {
    text-align: center;
    border-radius: 20px;
    background-color: blueviolet;
    height: 40px;
    margin: 10px;
    padding-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

table {
    align-items: center;
    text-align: center;
    margin: 40px;
    margin-left: 100px;
}

td {
    width: 500px;
    margin: 40px;
}

.tasks img {
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.tasks {
    margin: 40px;
    margin-left: 55px;
    padding: 30px;
    background-color: bisque;
    border-radius: 20px;
    width: 500px;
    height: 450px;
}

.tasks1 img {
    width: 350px;
    border-radius: 20px;
    margin: 10px;
    margin-bottom: 20px;
}

.tasks1 {
    margin-left: 373px;
    margin-top: 40px;
    padding: 30px;
    background-color: bisque;
    border-radius: 20px;
    width: 500px;
    height: 450px;
}