.box{
  background-color: antiquewhite;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 40px;
}



.progress-bar{
    background-color: #8c928c;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    margin: 40px;
  }

  .set1, .set2, .set3, .set4 {
    display: none;
  }