.progress-bar{
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 20px;
    margin: 40px;
  }

  .set1, .set2, .set3, .set4 {
    display: none;
  }