* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #e3dbf6, #a99bf9);
  padding: 10px;
}

.title {
  text-align: center;
  color: #524c79;
  font-size: 80px;
  font-weight: 700;
  margin-top: 70px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 387px;
  margin: 70px auto 0;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.front1,
.front2,
.front3,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
}

.front,
.front1,
.front2,
.front3 {
  background-size: cover;
  background-position: center;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.ID{
  display: flex;
  background-color: darkcyan;
  border-radius: 20px;
  width: 170px;
  height: 90px;
}

.front h2,
.front1 h2,
.front2 h2,
.front3 h2 {
  font-weight: 700;
  margin: 5px;
  color: white;
  opacity: 1;
}

.front p,
.front1 p,
.front2 p,
.front3 p {
  color: #fafafa;
  font-size: 13px;
  opacity: 1;
}

.front button,
.front1 button,
.front3 button,
.front2 button {
  width: 120px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
}

.front {
  background: url(Pictures/Team/Pamudu.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #555;
}

.front1 {
  background: url(Pictures/Team/Dinil.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #555;
}

.front2 {
  background: url(Pictures/Team/Janindu.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #555;
}

.front3 {
  background: url(Pictures/Team/Vihanga.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #555;
}

.back button {
  margin: 10px;
}

.back p {
  margin: 10px;
}

.back {
  align-items: center;
  text-align: center;
  background: #fff;
  color: #333;
  padding: 20px 40px;
  transform: rotateY(180deg);
}

.back h1 {
  font-size: 40px;
  line-height: 35px;
}

.back h1 span {
  font-weight: 400;
}

.back p {
  font-size: 14px;
}

.back p span {
  font-weight: 600;
}

.back img {
  width: 100px;
}

.row {
  display: flex;
  align-items: center;
}

.col {
  flex: 1;
  color: #555;
  font-size: 12px;
  position: relative;
}

.col h2 {
  font-size: 20px;
}

.col::after {
  content: "";
  width: 1.5px;
  height: 20px;
  background: #7800ad;
  position: absolute;
  top: 5px;
  right: 0;
}

.col:last-child::after {
  display: none;
}



.back button {
  background: #7800ad;
  color: #fff;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 15px;
  box-shadow: 0 8px 10px rgba(120, 0, 173, 0.3);
}

.back a:hover {
  color: aqua;
  transform: scale(1.15);
}

.back button:hover {
  color: aqua;
  transform: scale(1.1);
}

.back button:visited {
  color: chocolate;
}

.back a:active {
  color: chocolate;
}

.back a {
  text-decoration: none;
  width: 40px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rbga(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.back a img {
  width: 50%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

@media (max-width: 969px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .box {
    height: inherit;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wrapper {
    flex-wrap: wrap;
  }

  .box {
    height: inherit;
  }

  .card {
    width: 100%;
    margin: 20px;
  }
}